@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: white;
  
}



header{
    width: 100%;
    position: fixed;
    padding: 3em 12%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header .logo{
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    opacity: 0.8;
    transition: ease-in-out 0.3s;
}


header .logo:hover{
    opacity: 1;
}

header ul{
    list-style: none;
    display: flex;
    gap: 3em;
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header ul:hover{
    opacity: 1;
}

#menu{
    font-size: 3em;
    display: none;
}